@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');

:root {
  --main-bg-color: #52c234;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 32, 32);
  color: white;
  margin: 0;
  font-family: 'Armata', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  display: flex;
  flex-direction: column;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: linear-gradient(90deg, #52c234, #061700);
  display: flex;
  justify-content: space-between;
  padding: 2% 2%;
  
}

header img {
  max-width: 200px;
  height: 100%;
}


.search {
  margin-top: 2rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50px;
  background-color: transparent;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search:focus {
  outline: 0;
}

::placeholder {
  color: white;
  opacity: 0.7;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.movie {
 
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1rem;
  width: 240px;
  position: relative;
}

.movie img {
  max-width: 100%;
}



.movie-overview {
  background-color: rgba(0, 0, 0, 0.8);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  height: 100%;
  opacity: 0;
  transition: transform 1s ease-in-out;
}

.movie-overview h2 {
  color: var(--main-bg-color);
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 1px solid var(--main-bg-color);
}

.movie-overview p {
  font-size: 0.8rem;
}

.movie:hover .movie-overview {
  opacity: 1;
  transition: transform 2s ease-in-out;
}

.rating {
 color: var(--main-bg-color);
}

@media (max-width:480px) {
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0;
  }

  header img {
    margin-top: 10%;
    width: 140px;
  }

  .search {
    width: 100%;
    font-size: 0.8rem;
    margin: 0 0 1rem 0; 
    
  }

}